//Paleta de colores a usar
$purple1: #826AA2;
$blue1: #0061BD;
$dark-grey1: #66737F;
$light-grey1: #9A9CAA;
$black1: #08141E;

//Tamaños responsive
$smartphones: "only screen and (max-width: 768px)";
$tablets: "only screen and (max-width: 1200px)"