@import '../../../variables.scss';

#main-nav{
    padding-top: 5px;
    padding-bottom: 5px;
    transition: padding-top .3s, padding-bottom .3s;
    border: none;
    background-color: transparent;

    .navbar-brand{
        img{
            max-height: 40px;
        }
    }

    #nav-responsive{
        margin-left: auto !important;

        .nav-group-item{
            display: flex;
            list-style: none;

            .item-nav{
                color: $light-grey1;
                padding: 1.1em 1em;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }
}

.navbar-shrink{
    padding-top: 0 !important;
    padding-bottom: 5px !important;
    background-color: $black1 !important;
}